[submodule "Tools/SKSE-CMakeModules"]
	path = Tools/SKSE-CMakeModules
	url = https://github.com/Exit-9B/SKSE-CMakeModules.git
[submodule "external/CommonLibVR"]
	path = external/CommonLibVR
	url = https://github.com/alandtse/CommonLibVR.git